#container{
    max-width: 925px;
    margin: 0 auto;
    padding-top: 2rem;
    display:grid;
}

#image-cropper img{
    border-radius: 50%;
    object-fit: cover;
    width: 10rem;
    height: 10rem;
}

#image-cropper{
    float: left;
    width: calc(33% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

#profile-username
{
    display: block;
    font-size: 2rem;
    font-weight: 300;
    float: left;
    width: calc(66% - 2rem);
    margin-left: 20px;
}

#real-name{
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5;
    vertical-align: sub;
}