extends layout 

block content
    h1="Login"
    form(action="/", method="POST")
        input(type="email", placeholder = "Enter your email address")
        input(type="pass", placeholder = "Enter your password")
        button(type="submit") Submit