extends layout 

block content
    h1="Login"
    form(action="/login", method="POST")
        #form-group Username:
            input.form-control(type="text", placeholder = "Username", name="username")
         #form-group Password:
            input.form-control(name='password', type='password', placeholder = "Password")
        br
        input.btn.btn-primary(type='submit', value='Login')