extends layout 


block content
    h1 Register 
    form(method='POST', action='/users/register')
        #form-group Username:
            input.form-control(name='username', type='text')
         #form-group Password:
            input.form-control(name='password', type='password')
        br
        input.btn.btn-primary(type='submit', value='Register')

